.produit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #e0e0e0;
    border-radius: 15px;
    box-shadow: inset -20px -20px 60px #bebebe,
            inset 20px 20px 60px #ffffff;
    margin: 15px 0;
    transition: all 0.15s ease-in-out;
}

.produit:hover {
    box-shadow: inset -20px -20px 60px #949494,
            inset 20px 20px 60px #ffffff;
    cursor: pointer;
    transform: scale(1.04);
}


.produit__image {
    margin-left: 2.5%;
    width: 95%;
}

.produit__titre {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.produit__prix {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.produit__listecoul {
    position: relative;

    --taillegrandcercle: 22px;
    width: var(--taillegrandcercle);
    height: var(--taillegrandcercle);
    border-radius: 6px;

}

.produit__coulcontour {
    background-color: rgb(0, 0, 0);
    padding: 1px;
    border-radius: 8px;
    margin-left: 10px;
}

.produit__couleur {
    display: flex;
    align-self: flex-start;
}