:root{
    --margin: 30px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url(./Images/impression-3d.jpg);
    overflow: hidden;
}

h1{
    margin: 20px;
    background: transparent;
}

.login__container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    width: 300px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    align-items: center;
}

.login__containerBox{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
    background: transparent;
}

.login__logo{
    width: 380px;
    margin: 30px 0px;
    background: transparent;
}

.login__signInButton{
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.login__horizontalBar{
    width: 100%;
    background: transparent;
    color: transparent;
    border: 1px solid rgba(255,255,255,0.5);
}

.login__optionIcon{
    position: absolute;
    right: 5px;
    bottom: 2px;
    pointer-events: none;
    background: transparent;
}

.login__inputBox{
    position: relative;
    margin: 20px 0;
    border-bottom: 2px solid #fff;
    background: transparent;
}

input{
    height: 30px;
    background: transparent;
    outline: none;
    border: none;
    padding:0 35px 0 5px;
}



input:focus ~ label,
input:not(:placeholder-shown) ~ label{
    top: -5px;
}

label{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: .5s;
    pointer-events: none;
    background: transparent;
    font-weight: bold;
}

